{
  "plugins": ["prettier-plugin-svelte" , "prettier-plugin-tailwindcss" , "prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
